[user]
	email = sahilrajput03@gmail.com
	name = Sahil Rajput
[init]
	defaultBranch = main
[push]
	default = current
	# From my popos's config:
	# default = simple
[pull]
	rebase = false
[core]
	# Global ignore file
	excludesfile = /home/array/.gitignore_global

	# Editing files
	editor = vim
	# editor = code --wait

	# Usefule only in windows coz it prevents error prone eol conversions(when `autocrl=true`) from crlf to lf: https://stackoverflow.com/a/21046682/10012446
	safecrlf = false
	
	# From docs: IF set set true, then eol will have CRLF line endings in your working directory and the repository has LF line endings.
	autocrlf = false

[alias]

  edit = !nvim ~/.gitconfig

  # hub related (these autocomplete too, yo!)
  create = !hub create
  browse = !hub browse
  copyUrl = !hub browse -c
  getUrl = !hub browse -u
  # Hub Docs: https://hub.github.com/

  unstage = reset
  last = log -1 HEAD
  lastFive = log -5 HEAD

  graph = log --all --graph --decorate --oneline
  aa = add --all #Note this is absolutely 100% same as ```git add .```, tested 100% ~Sahil.
  c = commit --verbose
  ch = checkout
  chb = checkout -b
  amend = commit --amend --verbose
  l = log --decorate --graph --oneline -20
  ll = log --decorate --graph --oneline
  
  #  My pop's old aliases
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

  sla = log --all --decorate --graph --oneline
  p = push
  pll = pull
  s = status -sb

  # Haven't explored much below aliases yet! Source of this file: https://github.com/davidpdrsn/dotfiles/blob/master/git/gitconfig.symlink

  af = !git add `s | regex -v "^(M|##)" | sed "s/...//" | fzf`
  ap = add -p
  apf = !git add -p `s | regex -v "^(M|##)" | sed "s/...//" | fzf`
  b = branch
  bco = checkout -b
  ca = commit --amend --verbose
  count = !git rev-list --all | wc -l
  d = diff
  dc = diff --word-diff --color-words --cached
  incoming = log --all --decorate --graph --oneline origin/master ^master
  rl = reflog -20
  rll = reflog
  m = merge
  mf = merge --ff-only
  mn = merge --no-ff
  outgoing = log --all --decorate --graph --oneline master ^origin/master
  r = reset
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase -i
  rh = reset --hard
  undo = revert
[hub]
	protocol = ssh

[color "diff"]
  # https://news.ycombinator.com/item?id=4132501
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
