dist
build
package-lock.json
.DS_Store
.env
.firebaserc
.firebaserc.backup
.gitignore
firebase.dev.crud.json.sample
firebase.json
firebase.prod.bspweb.json.sample
index.html
.prettierignore
public
**/*.pdf
**/*.ttf
**/*.png
**/*.woff
**/*.woff2
**/*.svg
**/*.eot
**/*.jpg
**/*.cache
**/*.css.map